body {
  width: 1146px;
  margin: 0 auto;
  padding-top: 18px;
  padding-left: 27px;
  padding-right: 27px;
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  background-color: #849d8f;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-header-logo {
  display: block;
  margin-top: -8px;
  margin-right: 12px;
}
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-navigation {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 15px;
  position: relative;
  z-index: 30;
}
.site-navigation > li {
  list-style: none;
  margin-right: 4px;
  line-height: 14px;
}
.site-navigation > li > a {
  text-decoration: none;
}
.site-navigation .primary-link {
  padding-top: 5px;
  border-style: none;
  padding-right: 12px;
  padding-left: 12px;
}
.site-navigation span {
  border-bottom: 1px solid rgba(201, 201, 201, 0.4);
}
.modal-catalog-list {
  display: none;
  background-color: #f8f7f4;
  list-style: none;
  width: 143px;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  padding-left: 0;
  padding-top: 1px;
  top: 28px;
  left: -9px;
  position: absolute;
  z-index: 150;
}
.on-page {
  background-color: #d07058;
  border-radius: 20px;
  padding-bottom: 5px;
}
.on-page > span {
  border: none;
}
.modal-catalog:hover span {
  border-style: none;
}
.site-navigation li:hover span {
  border-style: none;
}
.modal-catalog:hover .catalog-link {
  background-color: #f8f7f4;
  color: rgb(50, 50, 50);
  border-radius: 20px;
}
.site-navigation .primary-link:active {
  color: #000000;
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.76);
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.76);
  border-radius: 20px;
  background-color: #f8f7f4;
  padding-bottom: 5px;
  border: none;
}
.site-navigation .primary-link:active > span {
  border: none;
}
.site-navigation li:hover .primary-link {
  background-color: #f8f7f4;
  color: rgb(50, 50, 50);
  border-radius: 20px;
  padding: 6px 12px 7px;
  border: none;
}
.modal-catalog-list a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  color: rgb(50, 50, 50);
  font-weight: normal;
  margin-left: 16px;
  line-height: 13px;
  margin-bottom: 3px;
  padding: 5px 8px 10px 4px;
}
.modal-catalog-list > .modal-catalog-item:last-of-type {
  padding-bottom: 3px;
}
.modal-catalog-list > .modal-catalog-item:hover {
  background-color: rgb(251, 222, 215);
}
.modal-catalog-list > .modal-catalog-item:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-catalog-list > .modal-catalog-item:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.modal-catalog:hover .modal-catalog-list {
  display: block;
}
.modal-catalog-list > .modal-catalog-item:active {
  background-color: rgb(246, 181, 165);
  color: #ffffff;
}
.modal-catalog-list .new-ice-cream {
  font-weight: bold;
  padding-top: 11px;
  padding-left: 5px;
  padding-bottom: 11px;
}
.modal-catalog-list > .modal-catalog-item:first-child:after {
  content: "";
  display: block;
  width: 128px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 6px;
  margin-bottom: 5px;
}
.primary-link {
  color: #ffffff;
  border-bottom: 1px solid rgba(201, 201, 201, 0.4);
  text-decoration: none;
}
.primary-link:active,
.primary-link:hover {
  color: #ffbc9e;
  font-weight: 500;
  border-bottom: 1px solid rgb(255, 188, 158);
}
.active {
  background-color: #d07058;
}
.active .primary-link {
  color: #ffffff;
}
.primary-button {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  padding: 10px 16px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
.primary-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.primary-button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.user-navigation-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  left: 357px;
  top: 6px;
}
.style-second-list {
  position: relative;
  left: 340px;
  top: 6px;
}
.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}
.user-navigation-search {
  position: relative;
  z-index: 50;
  margin-left: -1px;
}
.user-navigation-search form {
  position: absolute;
  z-index: 100;
  right: 17px;
  top: 36px;
  width: 342px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  display: none;
}
.user-navigation-search input {
  width: 311px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgb(153, 153, 153);
  text-align: left;
  padding: 8px 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 21px 15px;
}
.user-navigation-search input:-ms-input-placeholder {
  line-height: normal;
  padding-top: 12px;
  padding-bottom: 12px;
}
.user-navigation-search input:hover {
  border: 1px solid rgba(154, 154, 154, 0.6);
  border-radius: 6px;
}
.user-navigation-search button {
  margin: 0;
  padding: 0;
  background-color: rgba(248, 247, 244, 0.3);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
}
.user-navigation-search svg {
  margin: auto;
  padding: 0;
  position: absolute;
  top: 7px;
  right: 8px;
  fill: #fff;
}
.user-navigation-search:hover form {
  display: block;
}
.user-navigation-search:hover button:after {
  content: " ";
  display: block;
  min-height: 32px;
  width: 33px;
  background-image: url("../img/svg-gllacy/loupe.svg");
  background-color: rgb(248, 247, 244);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 7px 7px;
  color: #000000;
  height: 32px;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 16px;
  top: 0;
}
.user-navigation-enter {
  position: relative;
  z-index: 100;
  margin-right: 12px;
}
.user-navigation-enter form {
  position: absolute;
  right: 15px;
  top: 36px;
  width: 268px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
  padding-top: 3px;
  padding-right: 10px;
  display: none;
}
.user-navigation-enter p:first-child {
  margin-bottom: 19px;
}
.user-navigation-enter p:nth-child(2) {
  margin-bottom: 42px;
}
.user-navigation-enter input {
  width: 241px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgb(153, 153, 153);
  text-align: left;
  padding: 10px 13px 9px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 20px;
}
.user-navigation-enter input:-ms-input-placeholder {
  line-height: normal;
  padding-top: 13px;
  padding-bottom: 13px;
}
.user-navigation-enter input:hover {
  border: 1px solid rgba(154, 154, 154, 0.6);
  border-radius: 6px;
}
.user-navigation-enter .navigation-enter-button {
  color: rgb(254, 254, 254);
  padding: 0;
  background-color: rgba(248, 247, 244, 0.3);
  width: 93px;
  height: 32px;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-left: 9px;
  margin-left: 9px;
}
.user-navigation-enter:hover .navigation-enter-button:after {
  content: "Вход";
  display: block;
  background-image: url('../img/svg-gllacy/entrance.svg');
  background-color: rgb(248, 247, 244);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: -28px -2px;
  color: #000000;
  padding: 8px 44px;
  width: 5px;
  height: 16px;
  border-radius: 20px;
  border: none;
  margin-left: 9px;
  position: absolute;
  right: 16px;
  top: 0;
}
.user-navigation-enter .enter-button {
  position: relative;
  left: 19px;
  width: 70px;
  border-radius: 20px;
  bottom: 21px;
}
.user-navigation-enter svg {
  fill: #fff;
  margin-right: 2px;
  margin-top: 2px;
}
.user-navigation-enter span {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  top: -5px;
  left: 1px;
}
.user-navigation-enter:hover form {
  display: block;
}
.user-navigation-enter:hover span {
  color: #000000;
}
.new-personal-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  margin-left: 141px;
  top: 147px;
}
.new-personal-account .primary-link {
  font-size: 13px;
  font-weight: normal;
  color: #323232;
  line-height: 24px;
  text-decoration: none;
  border: none;
  margin-bottom: 3px;
}
.new-personal-account .primary-link::after {
  content: "";
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: -7px;
}
.basket {
  position: relative;
}
.close-basket {
  padding: 0;
  background-color: rgba(248, 247, 244, 0.3);
  background-image: url("../img/svg-gllacy/basket.svg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 12px 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  width: 94px;
  height: 28px;
  border-radius: 20px;
  border: none;
  border: 2px solid transparent;
}
.close-basket span {
  margin-left: 25px;
}
.open-basket span {
  margin-left: 24px;
  color: #000000;
}
.open-basket {
  padding: 0;
  background-color: rgba(248, 247, 244);
  background-image: url('../img/svg-gllacy/basket-red.svg');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 13px 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  width: 112px;
  height: 28px;
  border-radius: 20px;
  border: 2px solid transparent;
}
.user-basket {
  width: 541px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  right: 0;
  top: 36px;
  z-index: 100;
  display: none;
}
.user-basket img {
  border-radius: 50%;
}
.user-basket table {
  border-spacing: 17px;
  margin-top: 1px;
  margin-left: -23px;
}
.user-basket td {
  font-size: 13px;
  font-weight: 500;
  color: rgb(50, 50, 50);
  line-height: 16px;
  text-align: left;
}
.price {
  opacity: 0.5;
}
.total-cost {
  font-size: 15px;
  line-height: 18px;
  color: rgb(50, 50, 50);
}
.total-cost::before {
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  background-image: url("../img/divider.png");
  background-repeat: no-repeat;
  width: 541px;
  height: 2px;
  margin-left: 16px;
  margin-bottom: 12px;
}
.total-cost span {
  margin-left: 420px;
  display: block;
  margin-top: -3px;
}
.user-basket .primary-button {
  width: 143px;
  margin-top: 14px;
  margin-left: 354px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.user-basket .small-modal-close {
  background-color: transparent;
  border: none;
  position: relative;
  left: 16px;
  top: 4px;
  margin-bottom: 10px;
}
.user-basket .table-image-first {
  position: relative;
  left: 5px;
}
.user-basket .table-image-second {
  position: relative;
  top: -2px;
  left: 6px;
}
.user-basket .table-name-of-goods {
  width: 222px;
  position: relative;
  left: -1px;
}
.user-basket .table-name-of-goods-second {
  position: relative;
  left: -1px;
  top: 5px;
}
.user-basket .table-count {
  width: 109px;
  position: relative;
  left: 4px;
}
.user-basket .table-count-second {
  width: 109px;
  position: relative;
  left: 4px;
  top: -3px;
}
.user-basket .table-result {
  width: 65px;
}
.user-basket .table-result-second {
  width: 65px;
  top: -3px;
  position: relative;
}
.basket:hover .user-basket {
  display: block;
}
.info {
  -ms-flex-item-align: end;
  align-self: flex-end;
  text-align: right;
}
.info .work-hours {
  font-size: 14px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 5px;
}
.info a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  border: none;
  position: relative;
  left: 1px;
}
.info a:hover {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: default;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}
.main-slider {
  position: relative;
  top: -129px;
  left: 1px;
  text-align: center;
}
.main-slider ul {
  list-style: none;
}
.slider-list {
  padding: 0;
}
.slider-item p {
  position: relative;
  top: -495px;
  width: 700px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 27px;
}
.main-slider .get-button {
  font-family: Roboto, Arial, sans-serif;
  font-size: 32px;
  display: inline-block;
  padding: 10px 40px;
  line-height: 44px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  position: relative;
  top: -493px;
  cursor: pointer;
}
.main-slider .get-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.main-slider .get-button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-close {
  display: none;
}
.slider-button {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: -50px;
  top: -551px;
}
.sliderOne-button,
.sliderThree-button,
.sliderTwo-button {
  padding: 0;
  margin-left: 10px;
  margin-right: -1px;
  width: 16px;
  height: 16px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.sliderOne-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sliderTwo-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sliderThree-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.active-slider-button {
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.promo {
  margin-top: -652px;
}
.promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 18px;
  text-align: justify;
  list-style: none;
  padding: 0;
}
.promo-item {
  padding-right: 24px;
  padding-left: 18px;
}
.promo-item h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}
.promo-list li:first-child {
  position: relative;
  z-index: 100;
  width: 528px;
  padding: 16px 17px 20px 18px;
  background-color: #cd1f47;
  background-image: url("../img/crimson.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-right: 26px;
}
.promo-item .promo-item-crimson {
  margin-top: 16px;
  margin-bottom: 23px;
  padding-left: 2px;
  width: 513px;
}
.promo-item .promo-item-chocolate {
  margin-top: 14px;
  margin-bottom: 24px;
  padding-left: 2px;
  width: 518px;
  text-align: left;
}
.promo-item button {
  margin-left: 356px;
  text-shadow: none;
  width: 136px;
  padding: 11px 14px;
  position: relative;
  top: 20px;
  margin-bottom: 24px;
}
.promo-item .chocolate-button {
  width: 159px;
  margin-left: 334px;
  padding-top: 10px;
}
.promo-list li:last-child {
  background-color: #492b22;
  background-image: url("../img/chocolate.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 528px;
  padding: 16px 17px 20px 18px;
  position: relative;
  z-index: 100;
}
.promo-list li:last-child h3 {
  padding-left: 2px;
}
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 12px;
  margin-bottom: 9px;
  width: 1200px;
}
.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 267px;
  text-align: center;
  position: relative;
  padding-top: 0;
  margin-bottom: 9px;
  margin-right: 26px;
  -webkit-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}
.catalog-item .primary-button {
  display: none;
}
.catalog-item::before {
  content: "";
  position: absolute;
  top: 4px;
  right: -13px;
  width: 293px;
  height: 406px;
  z-index: 150;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  display: none;
}
.catalog-item:hover .primary-button {
  display: block;
  position: absolute;
  top: 342px;
  left: 34px;
  z-index: 150;
}
.catalog-item:hover:before {
  display: block;
}
.catalog-item h3 {
  margin-top: 6px;
  width: 258px;
  margin-left: 5px;
}
.catalog-item .catalog-category {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  z-index: 151;
}
.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
  margin: 0;
  position: absolute;
  top: 218px;
}
.catalog-item-image img {
  border-radius: 50%;
  margin-top: 10px;
}
.weight {
  font-size: 30px;
  margin-left: 4px;
  line-height: 45px;
}
.weight::before {
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  min-height: 32px;
  width: 30px;
  background-image: url("../img/svg-gllacy/ruble.svg");
  background-repeat: no-repeat;
}
.hit {
  background-image: url("../img/svg-gllacy/hit.svg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 61px;
  display: block;
  width: 61px;
  min-height: 61px;
  position: absolute;
  top: 10px;
}
.facts {
  margin: auto;
  background-color: #efe3c8;
  background-image: url("../img/waffle.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  font-weight: normal;
  border-radius: 15px;
  margin-bottom: 40px;
  width: 1146px;
}
.facts h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-top: 24px;
  margin-left: 21px;
  margin-bottom: 14px;
}
.facts-list {
  margin-top: -16px;
  margin-bottom: 24px;
}
.facts-list .facts-item {
  display: inline-block;
  vertical-align: baseline;
  list-style: none;
  width: 480px;
  text-align: left;
  padding-left: 57px;
  padding-top: 17px;
}
.facts-list li:first-child {
  background-image: url('../img/svg-gllacy/ice-cream.svg');
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: -57px -13px;
  margin-bottom: 5px;
  margin-top: 6px;
  margin-left: -20px;
}
.facts-list li:nth-child(2) {
  background-image: url("../img/svg-gllacy/cow.svg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: -57px -13px;
  margin-top: 6px;
  margin-left: 25px;
  margin-bottom: 6px;
}
.facts-list li:nth-child(3) {
  background-image: url("../img/svg-gllacy/eco.svg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: -57px -13px;
  margin-top: 0;
  margin-left: -20px;
}
.facts-list li:last-child {
  background-image: url("../img/svg-gllacy/thermometer.svg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: -58px -13px;
  position: relative;
  top: -22px;
  left: 25px;
  padding-left: 58px;
}
.blog-subscription-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto 40px;
}
.blog-news {
  background-image: url("../img/crimson-bg.jpg");
  background-color: #ffffff;
  background-size: 865px;
  background-repeat: no-repeat;
  background-position: 17% 39%;
  width: 535px;
  border-radius: 15px;
  padding-left: 25px;
  text-align: left;
  margin-right: 26px;
}
.blog-news h3 {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  margin-top: 22px;
  margin-left: -5px;
}
.blog-news .primary-link {
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  text-decoration: none;
  border: none;
  text-align: left;
  width: 275px;
  margin-left: -5px;
}
.blog-news .primary-link:hover {
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-size: bold;
}
.blog-link span:first-child {
  position: relative;
  top: -12px;
}
.blog-link span:nth-child(2) {
  margin-left: -5px;
  position: relative;
  top: -11px;
}
.blog-link span:last-child {
  margin-left: -5px;
  position: relative;
  top: -9px;
}
.blog-link span:first-child::after {
  content: " ";
  display: block;
  font-size: 24px;
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-top: -5px;
  margin-left: -3px;
  width: 276px;
}
.blog-link span:nth-child(2)::after {
  content: "";
  display: block;
  font-size: 24px;
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-top: -6px;
  margin-left: -3px;
  width: 265px;
}
.blog-link span:last-child::after {
  content: "";
  display: block;
  font-size: 24px;
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-top: -7px;
  margin-left: -5px;
  width: 63px;
}
.subscription-wrap {
  background-image: url("../img/svg-gllacy/bg-post.svg");
  background-color: rgb(248, 247, 244);
  background-origin: content-box;
  background-repeat: no-repeat;
  width: 560px;
  border-radius: 15px;
  height: 218px;
}
.subscription {
  background-color: rgb(248, 247, 244);
  color: #000000;
  font-weight: normal;
  width: 530px;
  height: 196px;
  border-radius: 10px;
  padding-top: 5px;
  margin: 5px;
  padding-left: 20px;
  padding-bottom: 7px;
}
.subscription-info {
  margin-bottom: 35px;
  margin-left: 3px;
  margin-top: 24px;
  width: 518px;
}
.subscription input {
  border: 1px solid rgb(211, 211, 210);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: rgb(153, 153, 153);
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 0;
  width: 369px;
  margin-right: 0;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-top: 9px;
}
.subscription input:-ms-input-placeholder {
  line-height: normal;
  padding-bottom: 12px;
  padding-top: 12px;
}
.subscription input:hover {
  border: 1px solid rgba(154, 154, 154, 0.6);
  border-radius: 6px;
}
.subscription input:focus {
  outline: none;
  border: 1px solid rgba(46, 136, 228, 0.6);
  border-radius: 6px;
}
.subscription button {
  width: 95px;
  padding-right: 18px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin-left: -27px;
  background-size: cover;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url("../img/map.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  color: #000000;
  margin-bottom: 20px;
}
.map .primary-button {
  width: 220px;
  margin-right: 5px;
  margin-bottom: 27px;
  padding-left: 17px;
  padding-top: 9px;
}
.shop-info {
  position: relative;
  top: 12px;
  right: 27px;
  width: 235px;
  margin-bottom: 74px;
  margin-top: 51px;
  padding: 5px 43px 5px 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  background-color: #ffffff;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.98);
}
.shop-info p:first-child {
  margin-top: 25px;
  margin-bottom: 6px;
  width: 155px;
  margin-left: 1px;
}
.shop-info p:nth-child(4) {
  margin-left: 1px;
  margin-top: -2px;
  margin-bottom: 24px;
}
.shop-info p:nth-child(3) {
  margin-top: 18px;
  margin-left: 1px;
  margin-bottom: 12px;
}
.shop-info a {
  margin-left: 1px;
  display: block;
  margin-top: -9px;
  width: 145px;
  line-height: 25px;
  margin-bottom: 1px;
}
.main-shop-info {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  border: none;
  color: #000000;
  margin-bottom: 17px;
  margin-left: 2px;
  margin-top: -5px;
}
.feedback {
  position: absolute;
  left: 438px;
  top: 338px;
  width: 478px;
  z-index: 500;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  position: absolute;
  text-align: left;
  position: absolute;
  -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
  display: none;
}
.feedback h2 {
  width: 350px;
  font-size: 24px;
  font-weight: 500;
  color: rgb(50, 50, 50);
  line-height: 28px;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 30px;
  margin-top: 17px;
}
.modal-close {
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 11px;
  border: none;
  cursor: pointer;
}
.feedback input {
  width: 267px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  line-height: 24px;
  color: rgb(153, 153, 153);
  text-align: left;
  padding: 10px 13px 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 24px;
  margin-bottom: 15px;
  margin-top: -11px;
}
.feedback input:-ms-input-placeholder {
  line-height: normal;
  padding-bottom: 12px;
  padding-top: 12px;
}
.feedback input:hover {
  border: 1px solid rgba(154, 154, 154, 0.6);
  border-radius: 6px;
}
.feedback input:focus {
  outline: none;
  border: 1px solid rgba(46, 136, 228, 0.6);
  border-radius: 6px;
}
.feedback textarea {
  width: 428px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  line-height: 24px;
  color: rgb(153, 153, 153);
  text-align: left;
  padding: 8px 14px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 24px;
  margin-top: -11px;
}
.feedback textarea:focus {
  outline: none;
  border: 1px solid rgba(46, 136, 228, 0.6);
  border-radius: 6px;
}
.feedback .primary-button {
  position: relative;
  width: 106px;
  margin-left: 314px;
  margin-bottom: 27px;
  margin-top: 2px;
}
.feedback-form-open {
  display: block;
}
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 27px;
}
.footer-line {
  border-top: 2px solid rgba(201, 201, 201, 0.4);
  padding-top: 18px;
}
.footer-social {
  margin-top: 17px;
  margin-left: 2px;
}
.footer-social-icon {
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: baseline;
  opacity: 0.9;
  margin-right: 8px;
}
.footer-social-icon:hover {
  opacity: 1;
}
.footer-social-icon:active {
  border: none;
  opacity: 0.9;
  width: 35px;
}
.info-document {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 18px;
  margin-left: -27px;
}
.info-document a {
  text-decoration: none;
  border-style: none;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  margin-bottom: 7px;
}
.info-document span {
  border-bottom: 1px solid rgba(201, 201, 201, 0.4);
}
.info-document-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: -5px;
  margin-top: -3px;
}
.info-document a:hover {
  font-weight: normal;
}
.info-document-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  left: 31px;
  top: -2px;
  font-weight: normal;
}
.info-document .for-supplier {
  font-weight: bold;
  margin-bottom: 6px;
}
.info-document .for-supplier:hover {
  font-weight: bold;
}
.for-supplier::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 15px;
  height: 13px;
  margin-left: -22px;
  margin-right: 8px;
  background-image: url("../img/svg-gllacy/heart.svg");
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
}
.footer-copyright span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
.footer-copyright .htmlacademy-link {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(201, 201, 201, 0.4);
}
.footer-copyright p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
.footer-copyright .primary-link {
  border: none;
  margin-left: 2px;
}
.breadcrumbs {
  padding-left: 0;
  margin-top: -18px;
  margin-bottom: 0;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: baseline;
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.breadcrumbs span {
  border-bottom: 1px solid rgba(201, 201, 201, 0.4);
}
.breadcrumbs a {
  border-style: none;
}
.breadcrumbs a::after {
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  background-image: url("../img/svg-gllacy/icon-right-small.svg");
  background-repeat: repeat-x;
  background-size: 5px;
  width: 10px;
  height: 8px;
  margin-left: 5px;
  margin-right: 2px;
}
.page-title {
  font-size: 35px;
  line-height: 41px;
  margin-top: 2px;
  margin-bottom: 29px;
}
.filters-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 880px;
  margin-bottom: 19px;
}
.filter-cost {
  margin: 0;
  padding: 0;
  width: 220px;
  border: none;
}
.filter-cost legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
  margin-left: 10px;
}
.range-filter {
  margin-top: -6px;
  margin-left: 2px;
}
.range-controls {
  position: relative;
  height: 21px;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 17px;
  border-radius: 20px;
  top: -6px;
  left: -3px;
}
.range-controls .scale {
  height: 4px;
  width: 176px;
  background-color: rgba(248, 247, 244, 0.5);
  margin-left: 25px;
}
.range-controls .bar {
  width: 107px;
  height: 4px;
  background-color: rgb(248, 247, 244);
  margin-left: 20px;
}
.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border-radius: 50%;
  border: 8px solid #ffffff;
  background-color: #849d8f;
  position: absolute;
  top: 9px;
  left: 0;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 37px;
}
.range-controls .toggle-max {
  left: 134px;
}
.price-controls {
  font-size: 0;
  font-size: 0;
  position: relative;
  left: 14px;
  bottom: 4px;
}
.price-controls label {
  display: inline-block;
  vertical-align: baseline;
  width: 50%;
}
.price-controls input {
  width: 25px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  background-color: transparent;
}
.price-controls span:first-of-type {
  margin-left: 0;
}
.price-controls span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-left: -83px;
}
.price-controls .max-price {
  margin-right: -1px;
}
.fatness-filter {
  border: none;
  margin: 0;
  padding: 0;
  width: 415px;
  height: 21px;
  position: relative;
  left: 11px;
}
.fatness-filter .fatness-value {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 7px;
}
.fatness-filter label {
  margin-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.fatness-value input[type=radio] {
  display: none;
}
.fatness-value span {
  display: inline-block;
  vertical-align: baseline;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  border-radius: 50%;
  border: 4px solid rgba(248, 247, 244, 0.6);
  margin-right: 8px;
  margin-top: -3px;
}
.fatness-value span:hover {
  border: 4px solid rgba(248, 247, 244);
}
.fatness-value input[type=radio]:checked + span::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 8px;
  height: 8px;
  position: relative;
  left: 22%;
  bottom: 26%;
  background-color: rgba(248, 247, 244, 0.6);
  border-radius: 50%;
}
.fatness-value input[type=radio]:checked + span:hover:before {
  background-color: rgb(248, 247, 244);
}
.fatness-filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
  margin-left: 16px;
  margin-bottom: 3px;
  position: relative;
  top: -3px;
}
.addition-filter {
  border: none;
  margin: 0;
  padding: 0;
  width: 687px;
  height: 21px;
  position: relative;
  left: 15px;
  font-weight: 500;
}
.addition-filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
  position: relative;
  top: 5px;
  margin-bottom: 12px;
}
.addition-filter .addition-value {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: -15px;
}
.addition-value label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-right: 16px;
}
.addition-value label:first-of-type {
  margin-left: 15px;
  margin-right: 15px;
}
.addition-value label:nth-child(3) {
  margin-right: 18px;
}
.addition-value span {
  display: inline-block;
  vertical-align: baseline;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  border-radius: 3px;
  border: 2px solid rgba(248, 247, 244, 0.6);
  margin-right: 12px;
}
.addition-value span:hover {
  border: 2px solid rgba(248, 247, 244);
}
.addition-value input[type=checkbox] {
  display: none;
}
.addition-value input[type=checkbox]:checked + span::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 14px;
  height: 5px;
  border-left: 4px solid rgba(248, 247, 244, 0.9);
  border-bottom: 4px solid rgba(248, 247, 244, 0.9);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -6px;
  left: 2px;
  z-index: 50;
}
.addition-value input[type=checkbox]:checked + span:hover:before {
  border-left: 4px solid rgba(248, 247, 244);
  border-bottom: 4px solid rgba(248, 247, 244);
}
.filter-sorting {
  border: none;
  margin-top: -3px;
}
.filter-sorting legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-left: 2px;
}
.filter-sorting .select-list {
  margin-left: -13px;
  width: 180px;
  height: 37px;
  border: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-left: 15px;
  appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  background-image: url("../img/svg-gllacy/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 93% 50%;
  background-size: 9px;
}
.select-list > option {
  appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  height: 40px;
}
.filter-sorting .select-list::-ms-expand {
  display: none;
}
.select-list:focus {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/svg-gllacy/select-black-arrow.svg");
  background-repeat: no-repeat;
  background-position: 93% 50%;
  background-size: 9px;
  font-weight: bold;
  line-height: 18px;
  font-size: 16px;
}
.select-list:hover {
  color: #000000;
  background-image: url("../img/svg-gllacy/select-black-arrow.svg");
  background-repeat: no-repeat;
  background-position: 93% 50%;
  font-weight: bold;
}
.button-apply {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  width: 118px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 20px;
  padding: 6px 11px;
  margin-top: 28px;
  margin-left: 30px;
}
.button-apply:hover {
  background-color: #ffffff;
  opacity: 1;
  color: #000000;
}
.button-apply:active {
  background-color: #eaeaea;
  -webkit-box-shadow: inset 1px 2px 1px 1px rgba(105, 105, 105, 0.76);
  box-shadow: inset 1px 2px 1px 1px rgba(105, 105, 105, 0.76);
  color: #000000;
  border: none;
  padding: 9px 12px 8px;
}
.catalog-list-second-page {
  margin-bottom: 53px;
}
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none;
  margin-bottom: 30px;
}
.pagination-item {
  margin-right: 2px;
}
.pagination-list::before {
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  margin-top: 5px;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  margin-right: 11px;
}
.pagination-list::after {
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  margin-top: 5px;
  border-right: 2px solid rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: 14px;
  width: 8px;
  height: 8px;
}
.pagination-item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  line-height: 18px;
  padding: 4px 9px;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-item-current a {
  padding: 3px 8px;
  color: rgb(53, 53, 53);
  border-radius: 50%;
  background-color: #ffffff;
}
.pagination-item a:hover {
  padding: 4px 9px;
  border-radius: 20px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
.pagination-item a:active {
  padding: 4px 9px;
  color: rgb(53, 53, 53);
  border-radius: 20px;
  background-color: #ffffff;
}